
.cards{
    background-color: #e8f4f8;
    background-image: url('../../recursos/meowth.png');
    background-size: cover;


    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}