.pagination{
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.ul{
    background-color: aquamarine;
}

.currentButton{
    background-color: blueviolet;
    border-radius: 5px; 
}

.notCurrentButton{
    border-radius: 5px;
    background-color: rgb(94, 107, 117);
}

.enabled{
    border-radius: 5px;
    background-color: blueviolet;
}


.disabled{
    display: none;

}
