.pagination {
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width:max-content;
  }
  
  .ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
  }
  
  .ul li {
    list-style: none;
    width: auto;
    margin: 0 10px;
    display: inline-block;

  }

.currentButton{
    background-color: #f82839;
    color: #e8f4f8;
    border: none;
    border: 1px solid white;
    border-radius: 5px; 
}

.notCurrentButton{
    border: none;
    border-radius: 5px;
    background-color:#6875d8;
    border: 1px solid white;
    color: black;

}

.enabled{
    background-color: #6875d8;
    color: #e8f4f8;
    border: none;
    border: 1px solid white;
    border-radius: 5px; 
}


.disabled{
    display: none;

}

.enabled:hover{
    background-color: #f82839;
}